@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Removi o Dark Mode para evitar comportamento inesperado no e-commerce */

body {
  background: var(--background);
  color: var(--foreground);
}

/* Centralizando todas as utilidades de Scrollbar aqui */
@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #e2e8f0; 
    border-radius: 20px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #cbd5e1;
  }
}

@layer components {
  /* Usei 1280px (7xl) para bater com a Navbar que fizemos */
  .container-padrao {
    @apply max-w-7xl mx-auto px-4 sm:px-6 w-full;
  }
}